.blog-list {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.blog-card {
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.1);
  width: 300px;
  padding: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.blog-card:hover {
  transform: translateY(-10px) scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,0.15);
}

.blog-image {
  width: 150%;
  gap: 50px;
  border-radius: 10px;
  object-fit: cover;
  margin-bottom: 15px;
}

.heading {
  text-align: center;
  margin-bottom: 40px;
  font-size: 2.5rem;
  color: #222;
}
