

/* Navbar layout fix */
.custom-navbar {
  padding: 0.75rem 0;
  position: sticky;
  top: 0;
}

.navbar .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  }

/* Brand text */
Navbar.Brand {
  font-size: 1.8rem;
  font-weight: 700;
  color:rgb(98, 98, 202);
  margin: 0;
}

/* Align navbar links horizontally */
.navbar-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.5rem;
}

/* Nav links style */
.navbar-nav .nav-link {
  color: #371d4d !important;
  font-weight: 500;
  padding: 8px 10px;
}

.navbar-nav .nav-link:hover,
.navbar-nav .dropdown-item:hover {
  color: #48b4ab !important;
}

/* Dropdown menu background */
.dropdown-menu {
  background-color: #222;
  border: none;
  padding: 10px 0;
}

.dropdown-item {
  color: #c49c9c;
  padding: 8px 20px;
  transition: background 0.3s, color 0.3s;
}

.dropdown-item:hover {
  background-color: #333;
  color: #fff;
}
button.btn-primary {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 1rem;
}

button.btn-primary i {
  font-size: 1.2rem;
}
